<!-- banner start  -->
<div class="container-fluid">
    <div id="carouselExampleDark" class="carousel carousel-dark slide">
        <div class="carousel-inner">
          <div class="carousel-item " 
          data-bs-interval="100" 
          *ngFor="let b of bannerResult;let i=index" 
          [ngClass]="{active:i===0}"
          >
            <img src="https://image.tmdb.org/t/p/original/{{ b.backdrop_path }}" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
              <h2>{{b.original_title}}</h2>
              <p>{{b.overview}}</p>
            </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
</div>

<div class="container mt-2 p-2">
  <div class="row">
    <h5 class="text-white">Trending Movies</h5>
    <div class="rowposter mt-3 p-2" >
      <ng-container *ngFor="let t of trendingMovieResult">
        <img 
        src="https://image.tmdb.org/t/p/original/{{ t.poster_path }}" class="rowimg largeposter" alt="...">
      </ng-container>
    </div>
  </div>
</div>
<div class="container1 mt-2 p-2">
  <div class="row">
    <h5 class="text-white">Action Movies</h5>
    <div class="rowposter mt-3 p-2" >
      <ng-container *ngFor="let t of trendingMovieResult">
        <img 
        src="https://image.tmdb.org/t/p/original/{{ t.poster_path }}" class="rowimg largeposter" alt="...">
      </ng-container>
    </div>
  </div>
</div>